target/
**/target/
node_modules/
**/node_modules/
.git/
.github/
.vscode/
.devcontainer/
apps/web/client/
!apps/web/client/src/
!apps/web/client/src/public/
!apps/web/client/src/public/images/
!apps/web/client/src/public/images/repoxide-logo.svg
!apps/web/client/src/public/schemas/
!apps/web/client/src/public/schemas/**
dist/
build/
*.log
.env
